node_modules
bower_components
.tmp
.sass-cache
.idea
prepros.cfg
source
src/dox
src/common/css
.DS_Store
common/css
dist
web.config
src/common/js/ngConstants.js
src/tests/stubs/*
src/tests/e2e/reports/*
src/tests/unit/reports/*
!.gitignore

